.navbar {
  background-color: hsla(238, 93%, 11%, 0.462);
  color: white;
  padding: 10px 20px;
  position: sticky;
  top: 0px;
  backdrop-filter: blur(4px);
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px; 
  margin-right: 10px; 
}

.navbar-title {
  font-weight: bold;
  font-size: 1.2rem; /* Adjust font size as needed */
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
