.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 30px; /* Adjust the height of the logo as needed */
  margin-right: 10px; /* Add margin between logo and title */
}

.navbar-title {
  font-weight: bold;
  font-size: 1.2rem; /* Adjust font size as needed */
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
}
